@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,600;0,700;1,300;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;1,300;1,800&family=Roboto+Mono:wght@700&display=swap');


body {
    display: flex;
    justify-content: center;
    margin: 0 ;
    padding: 0;

}
.tittlec{
    font-size: 23px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: row;
}
p{
    align-items: center;
    color: rgb(77, 77, 77);
}
h5{
    opacity: 0.75;
    font-size: larger;
    margin: 5px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;

}
.img{
    max-width: 100%;
    border-radius: 50%;
    margin: 10px;
    object-position: left;
    max-width: 45px;
}
#counted{
    color: red;
    opacity: 1;
}
.socialmedia{
    z-index: 1002;
}
.socialimg {
    max-width: 100%;
    border-radius: 5px;
    margin: 10px;
    max-width: 20px;
}

.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}


.imganya {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 200px;
}


.btn  {
    text-decoration: none;
    color: white;
    background: rgb(199, 60, 147);
    background: linear-gradient(45deg, rgba(199, 60, 147, 1) 0%, rgba(255, 117, 117, 1) 100%);
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
    padding: 15px;
    position: relative;
    text-align: center;
    
}

.songh1 {
    opacity: 0.75;
    font-size: larger;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}
.songp{
    margin: 3px;
    font-size: small;
    opacity: 0.75;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}
a{
    text-decoration: none;
    
}

.lol{
    margin-top: 10px;
}
.gaypeople{
    display: flex;
    flex-direction: row;
    z-index: 1005;
}
.gayimg {
    margin: 10px;
    max-width: 100%;
    max-height: 150px;
    display: flex;
}
.gayimg1 {
    margin: 10px;
    max-width: 100%;
    max-height: 200px;
    display: flex;
}

.btn-input {
    transition: all 0.08s linear;
}


.btn-input:active{
    transform: scale(0.9);
    font-size: 15px;
}

audio::-webkit-media-controls-panel {

    background-color: rgb(233, 104, 175);
}
audio::-webkit-media-controls-volume-slider {
    background-color: white;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10001;
    text-align: center;
    margin: 22px;
}

.section-wave {
    position: relative;
    width: 100%;
    height: auto;
    background: #ffb5b5;
    overflow: hidden;
}

.section-wave .wave {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/bluewave.png);
    background-size: 1000px 100px;
    -webkit-filter: hue-rotate(100deg);
        filter: hue-rotate(100deg);
}

.section-wave .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.section-wave .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.section-wave .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.section-wave .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}


@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}